{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["react", "flowtype"],
  "env": {
    "es6": true,
    "shared-node-browser": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "fetch": true,
    "localStorage": true,
    "global": true
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "overrides": [
    {
      "files": [
        "babel.config.js",
        "jest.config.js",
        "jest.framework-setup.js",
        "cosmos.config.js",
        "next.config.js",
        "webpack.extend.js",
        "stub/*.js",
        "ui/webpack-loaders/**/*.js"
      ],
      "env": {
        "node": true
      }
    },
    {
      "files": ["**/test.js", "**/*.test.js"],
      "env": {
        "jest": true
      }
    },
    {
      "files": ["ui/**/*.fixture.js", "ui/import-files.js"],
      "globals": {
        "require": true
      }
    }
  ]
}
